$us: rgba(169,45,73,1);
$the-house-that-jack-built: rgba(207,3,51,1);
$booksmart: rgba(53,81,131,1);
$timbuktu: rgba(147,91,68,1);
$starred-up: rgba(204,159,14,1);
$julias-eyes: rgba(143,65,26,1);
$pina: rgba(49,40,25,1);
$what-if: rgba(63,125,138,1);
$looper: rgba(147,101,86,1);
$ash-is-purest-white: rgba(101,127,102,1);
$true-grit: rgba(80,70,59,1);
$scott-pilgrim: rgba(4,46,103,1);
$don-jon: rgba(197,33,122,1);
$fruitvale-station: rgba(123,74,37,1);
$a-hijacking: rgba(53,90,73,1);
$theeb: rgba(179,139,114,1);
$mollys-game: rgba(111,58,18,1);
$john-wick: rgba(34,33,29,1);
$stories-we-tell: rgba(92,111,109,1);
$locke: rgba(137,94,39,1);
$train-to-busan: rgba(21,51,62,1);
$in-a-better-world: rgba(99,97,74,1);
$the-body: rgba(45,46,32,1);
$upgrade: rgba(144,137,171,1);
$climax: rgba(88,11,12,1);
$lincoln: rgba(37,40,39,1);
$moneyball: rgba(52,67,50,1);
$only-god-forgives: rgba(70,0,29,1);
$kick-ass: rgba(50,68,65,1);
$wind-river: rgba(36,50,101,1);
$rebellion: rgba(54,82,32,1);
$moonlight: rgba(105,73,78,1);
$tyrannosaur: rgba(64,48,43,1);
$mid90s: rgba(24,69,111,1);
$the-place-beyond-the-pines: rgba(89,56,23,1);
$miss-violence: rgba(43,35,21,1);
$brawl-in-cell-block-99: rgba(17,61,118,1);
$the-fighter: rgba(117,97,74,1);
$menashe: rgba(79,76,98,1);
$ruby-sparks: rgba(95,88,54,1);
$green-book: rgba(95,126,130,1);
$bernie: rgba(92,65,33,1);
$the-guest: rgba(38,47,76,1);
$begin-again: rgba(113,52,49,1);
$the-cabin-in-the-woods: rgba(48,49,20,1);
$dallas-buyers-club: rgba(24,63,116,1);
$django-unchained: rgba(91,73,52,1);
$night-moves: rgba(52,67,57,1);
$the-lunchbox: rgba(104,50,49,1);
$anthropoid: rgba(85,69,55,1);
$august-osage-county: rgba(103,53,32,1);
$the-kings-of-summer: rgba(116,122,65,1);
$headhunters: rgba(71,71,73,1);
$another-earth: rgba(52,80,126,1);
$the-edge-of-seventeen: rgba(66,89,92,1);
$dawn-of-the-planet-of-the-apes: rgba(84,90,69,1);
$blue-jasmine: rgba(103,19,14,1);
$snowpiercer: rgba(70,74,79,1);
$hush: rgba(71,73,52,1);
$carancho: rgba(47,61,71,1);
$inherent-vice: rgba(126,30,29,1);
$the-assassin: rgba(67,85,63,1);
$julieta: rgba(209,157,119,1);
$anna-karenina: rgba(58,43,31,1);
$howl: rgba(99,93,46,1);
$felony: rgba(51,43,25,1);
$sweet-virginia: rgba(100,89,63,1);
$dunkirk: rgba(80,56,43,1);
$the-double: rgba(78,74,44,1);
$a-bigger-splash: rgba(74,82,75,1);
$monsters: rgba(53,55,63,1);
$another-year: rgba(73,20,25,1);
$the-great-beauty: rgba(23,46,16,1);
$kill-list: rgba(79,64,40,1);
$searching: rgba(163,178,156,1);
$margaret: rgba(81,83,64,1);
$the-post: rgba(56,56,63,1);
$_127-hours: rgba(184,126,100,1);
$predestination: rgba(131,89,32,1);
$sweet-country: rgba(53,30,20,1);
$happy-end: rgba(7,24,49,1);
$the-revenant: rgba(44,34,43,1);
$elle: rgba(66,50,37,1);