$us: rgba(169,45,73,1);
$the-house-that-jack-built: rgba(207,3,51,1);
$booksmart: rgba(53,81,131,1);
$timbuktu: rgba(147,91,68,1);
$starred-up: rgba(204,159,14,1);
$julias-eyes: rgba(143,65,26,1);
$pina: rgba(49,40,25,1);
$what-if: rgba(63,125,138,1);
$looper: rgba(147,101,86,1);
$ash-is-purest-white: rgba(101,127,102,1);
$true-grit: rgba(80,70,59,1);
$scott-pilgrim: rgba(4,46,103,1);
$don-jon: rgba(197,33,122,1);
$fruitvale-station: rgba(123,74,37,1);
$a-hijacking: rgba(53,90,73,1);
$theeb: rgba(179,139,114,1);
$mollys-game: rgba(111,58,18,1);
$john-wick: rgba(34,33,29,1);
$stories-we-tell: rgba(92,111,109,1);
$locke: rgba(137,94,39,1);
$train-to-busan: rgba(21,51,62,1);
$in-a-better-world: rgba(99,97,74,1);
$the-body: rgba(45,46,32,1);
$upgrade: rgba(144,137,171,1);
$climax: rgba(88,11,12,1);
$lincoln: rgba(37,40,39,1);
$moneyball: rgba(52,67,50,1);
$only-god-forgives: rgba(70,0,29,1);
$kick-ass: rgba(50,68,65,1);
$wind-river: rgba(36,50,101,1);
$rebellion: rgba(54,82,32,1);
$moonlight: rgba(105,73,78,1);
$tyrannosaur: rgba(64,48,43,1);