$font-color: #303633;
$accent-color: #ff495c;
$accent-color-alt: #256eff;

$para-font: 'Source Sans Pro', sans-serif;
$heading-font: 'Bebas Neue', cursive;

$font-small: 1.1rem;
$font-normal: 1.3rem;
$font-medium: 2.5rem;
$font-big: 3rem;
$font-xbig: 4rem;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$line-height: 1.3;

$unit: 1rem;