@import 'reset';
@import 'variables';
@import 'color-variables';

/* General */
html {
    margin-left: calc(100%-100vh);
}

body {
    margin: 5vh auto;
    width: 90%;
    max-width: 840px;
    color: $font-color;
    line-height: $line-height;
}

/* Typography */

#site-title {
    font-size: $font-small;
    margin-bottom: $unit * 2;
    font-family: $heading-font;
    font-weight: $font-weight-bold;
}

.film-name,
.post-title {
    font-size: $font-medium;
    font-family: $heading-font;
}

.post-title {
    margin-bottom: $unit * 3;
}

a {
    color: inherit;
}

p {
    font-family: $para-font;
    font-size: $font-normal;
    font-weight: $font-weight-light;
    margin-bottom: $unit;
}

.meta-tags {
    font-size: $font-small;
    font-weight: $font-weight-light;
    margin-bottom: $unit * 2;
    border-radius: 3px;
    padding: 0.5rem;
}

.font-weight-bold,
strong {
    font-weight: $font-weight-bold;
}

.font-weight-normal {
    font-weight: $font-weight-normal;
}

p em {
    font-style: italic;
}

/* images */
img {
    width: 100%;
    height: auto;
    margin-bottom: $unit;
    border-radius: 3px;
}

/* other */

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #ffffff, #000000, #ffffff);
    margin: $unit * 6 0;
}

/* custom color rules */
#us .position {
    color: $us;
}

#us + .meta-tags {
    border: 1px solid lighten($us,40%);
    & .accent-color {
        color: $us;
    }
}

#the-house-that-jack-built .position {
    color: $the-house-that-jack-built;
}

#the-house-that-jack-built + .meta-tags {
    border: 1px solid lighten($the-house-that-jack-built,40%);
    & .accent-color {
        color: $the-house-that-jack-built;
    }
}

#booksmart .position {
    color: $booksmart;
}

#booksmart + .meta-tags {
    border: 1px solid lighten($booksmart,40%);
    & .accent-color {
        color: $booksmart;
    }
}

#timbuktu .position {
    color: $timbuktu;
}

#timbuktu + .meta-tags {
    border: 1px solid lighten($timbuktu,40%);
    & .accent-color {
        color: $timbuktu;
    }
}

#starred-up .position {
    color: $starred-up;
}

#starred-up + .meta-tags {
    border: 1px solid lighten($starred-up,40%);
    & .accent-color {
        color: $starred-up;
    }
}

#julias-eyes .position {
    color: $julias-eyes;
}

#julias-eyes + .meta-tags {
    border: 1px solid lighten($julias-eyes,40%);
    & .accent-color {
        color: $julias-eyes;
    }
}

#pina .position {
    color: $pina;
}

#pina + .meta-tags {
    border: 1px solid lighten($pina,40%);
    & .accent-color {
        color: $pina;
    }
}

#what-if .position {
    color: $what-if;
}

#what-if + .meta-tags {
    border: 1px solid lighten($what-if,40%);
    & .accent-color {
        color: $what-if;
    }
}

#looper .position {
    color: $looper;
}

#looper + .meta-tags {
    border: 1px solid lighten($looper,40%);
    & .accent-color {
        color: $looper;
    }
}

#ash-is-purest-white .position {
    color: $ash-is-purest-white;
}

#ash-is-purest-white + .meta-tags {
    border: 1px solid lighten($ash-is-purest-white,40%);
    & .accent-color {
        color: $ash-is-purest-white;
    }
}

#true-grit .position {
    color: $true-grit;
}

#true-grit + .meta-tags {
    border: 1px solid lighten($true-grit,40%);
    & .accent-color {
        color: $true-grit;
    }
}

#scott-pilgrim .position {
    color: $scott-pilgrim;
}

#scott-pilgrim + .meta-tags {
    border: 1px solid lighten($scott-pilgrim,40%);
    & .accent-color {
        color: $scott-pilgrim;
    }
}

#don-jon .position {
    color: $don-jon;
}

#don-jon + .meta-tags {
    border: 1px solid lighten($don-jon,40%);
    & .accent-color {
        color: $don-jon;
    }
}

#fruitvale-station .position {
    color: $fruitvale-station;
}

#fruitvale-station + .meta-tags {
    border: 1px solid lighten($fruitvale-station,40%);
    & .accent-color {
        color: $fruitvale-station;
    }
}

#a-hijacking .position {
    color: $a-hijacking;
}

#a-hijacking + .meta-tags {
    border: 1px solid lighten($a-hijacking,40%);
    & .accent-color {
        color: $a-hijacking;
    }
}

#theeb .position {
    color: $theeb;
}

#theeb + .meta-tags {
    border: 1px solid lighten($theeb,40%);
    & .accent-color {
        color: $theeb;
    }
}

#mollys-game .position {
    color: $mollys-game;
}

#mollys-game + .meta-tags {
    border: 1px solid lighten($mollys-game,40%);
    & .accent-color {
        color: $mollys-game;
    }
}

#john-wick .position {
    color: $john-wick;
}

#john-wick + .meta-tags {
    border: 1px solid lighten($john-wick,40%);
    & .accent-color {
        color: $john-wick;
    }
}

#stories-we-tell .position {
    color: $stories-we-tell;
}

#stories-we-tell + .meta-tags {
    border: 1px solid lighten($stories-we-tell,40%);
    & .accent-color {
        color: $stories-we-tell;
    }
}

#locke .position {
    color: $locke;
}

#locke + .meta-tags {
    border: 1px solid lighten($locke,40%);
    & .accent-color {
        color: $locke;
    }
}

#train-to-busan .position {
    color: $train-to-busan;
}

#train-to-busan + .meta-tags {
    border: 1px solid lighten($train-to-busan,40%);
    & .accent-color {
        color: $train-to-busan;
    }
}

#in-a-better-world .position {
    color: $in-a-better-world;
}

#in-a-better-world + .meta-tags {
    border: 1px solid lighten($in-a-better-world,40%);
    & .accent-color {
        color: $in-a-better-world;
    }
}

#the-body .position {
    color: $the-body;
}

#the-body + .meta-tags {
    border: 1px solid lighten($the-body,40%);
    & .accent-color {
        color: $the-body;
    }
}

#upgrade .position {
    color: $upgrade;
}

#upgrade + .meta-tags {
    border: 1px solid lighten($upgrade,20%);
    & .accent-color {
        color: $upgrade;
    }
}

#climax .position {
    color: $climax;
}

#climax + .meta-tags {
    border: 1px solid lighten($climax,40%);
    & .accent-color {
        color: $climax;
    }
}

#lincoln .position {
    color: $lincoln;
}

#lincoln + .meta-tags {
    border: 1px solid lighten($lincoln,40%);
    & .accent-color {
        color: $lincoln;
    }
}

#moneyball .position {
    color: $moneyball;
}

#moneyball + .meta-tags {
    border: 1px solid lighten($moneyball,40%);
    & .accent-color {
        color: $moneyball;
    }
}

#only-god-forgives .position {
    color: $only-god-forgives;
}

#only-god-forgives + .meta-tags {
    border: 1px solid lighten($only-god-forgives,40%);
    & .accent-color {
        color: $only-god-forgives;
    }
}

#kick-ass .position {
    color: $kick-ass;
}

#kick-ass + .meta-tags {
    border: 1px solid lighten($kick-ass,40%);
    & .accent-color {
        color: $kick-ass;
    }
}

#wind-river .position {
    color: $wind-river;
}

#wind-river + .meta-tags {
    border: 1px solid lighten($wind-river,40%);
    & .accent-color {
        color: $wind-river;
    }
}

#rebellion .position {
    color: $rebellion;
}

#rebellion + .meta-tags {
    border: 1px solid lighten($rebellion,40%);
    & .accent-color {
        color: $rebellion;
    }
}

#moonlight .position {
    color: $moonlight;
}

#moonlight + .meta-tags {
    border: 1px solid lighten($moonlight,40%);
    & .accent-color {
        color: $moonlight;
    }
}

#tyrannosaur .position {
    color: $tyrannosaur;
}

#tyrannosaur + .meta-tags {
    border: 1px solid lighten($tyrannosaur,40%);
    & .accent-color {
        color: $tyrannosaur;
    }
}

#mid90s .position {
    color: $mid90s;
}

#mid90s + .meta-tags {
    border: 1px solid lighten($mid90s,40%);
    & .accent-color {
        color: $mid90s;
    }
}

#the-place-beyond-the-pines .position {
    color: $the-place-beyond-the-pines;
}

#the-place-beyond-the-pines + .meta-tags {
    border: 1px solid lighten($the-place-beyond-the-pines,40%);
    & .accent-color {
        color: $the-place-beyond-the-pines;
    }
}

#miss-violence .position {
    color: $miss-violence;
}

#miss-violence + .meta-tags {
    border: 1px solid lighten($miss-violence,40%);
    & .accent-color {
        color: $miss-violence;
    }
}

#brawl-in-cell-block-99 .position {
    color: $brawl-in-cell-block-99;
}

#brawl-in-cell-block-99 + .meta-tags {
    border: 1px solid lighten($brawl-in-cell-block-99,40%);
    & .accent-color {
        color: $brawl-in-cell-block-99;
    }
}

#the-fighter .position {
    color: $the-fighter;
}

#the-fighter + .meta-tags {
    border: 1px solid lighten($the-fighter,40%);
    & .accent-color {
        color: $the-fighter;
    }
}

#menashe .position {
    color: $menashe;
}

#menashe + .meta-tags {
    border: 1px solid lighten($menashe,40%);
    & .accent-color {
        color: $menashe;
    }
}

#ruby-sparks .position {
    color: $ruby-sparks;
}

#ruby-sparks + .meta-tags {
    border: 1px solid lighten($ruby-sparks,40%);
    & .accent-color {
        color: $ruby-sparks;
    }
}

#green-book .position {
    color: $green-book;
}

#green-book + .meta-tags {
    border: 1px solid lighten($green-book,40%);
    & .accent-color {
        color: $green-book;
    }
}

#bernie .position {
    color: $bernie;
}

#bernie + .meta-tags {
    border: 1px solid lighten($bernie,40%);
    & .accent-color {
        color: $bernie;
    }
}

#the-guest .position {
    color: $the-guest;
}

#the-guest + .meta-tags {
    border: 1px solid lighten($the-guest,40%);
    & .accent-color {
        color: $the-guest;
    }
}

#begin-again .position {
    color: $begin-again;
}

#begin-again + .meta-tags {
    border: 1px solid lighten($begin-again,40%);
    & .accent-color {
        color: $begin-again;
    }
}

#the-cabin-in-the-woods .position {
    color: $the-cabin-in-the-woods;
}

#the-cabin-in-the-woods + .meta-tags {
    border: 1px solid lighten($the-cabin-in-the-woods,40%);
    & .accent-color {
        color: $the-cabin-in-the-woods;
    }
}

#dallas-buyers-club .position {
    color: $dallas-buyers-club;
}

#dallas-buyers-club + .meta-tags {
    border: 1px solid lighten($dallas-buyers-club,40%);
    & .accent-color {
        color: $dallas-buyers-club;
    }
}

#django-unchained .position {
    color: $django-unchained;
}

#django-unchained + .meta-tags {
    border: 1px solid lighten($django-unchained,40%);
    & .accent-color {
        color: $django-unchained;
    }
}

#night-moves .position {
    color: $night-moves;
}

#night-moves + .meta-tags {
    border: 1px solid lighten($night-moves,40%);
    & .accent-color {
        color: $night-moves;
    }
}

#the-lunchbox .position {
    color: $the-lunchbox;
}

#the-lunchbox + .meta-tags {
    border: 1px solid lighten($the-lunchbox,40%);
    & .accent-color {
        color: $the-lunchbox;
    }
}

#anthropoid .position {
    color: $anthropoid;
}

#anthropoid + .meta-tags {
    border: 1px solid lighten($anthropoid,40%);
    & .accent-color {
        color: $anthropoid;
    }
}

#august-osage-county .position {
    color: $august-osage-county;
}

#august-osage-county + .meta-tags {
    border: 1px solid lighten($august-osage-county,40%);
    & .accent-color {
        color: $august-osage-county;
    }
}

#the-kings-of-summer .position {
    color: $the-kings-of-summer;
}

#the-kings-of-summer + .meta-tags {
    border: 1px solid lighten($the-kings-of-summer,40%);
    & .accent-color {
        color: $the-kings-of-summer;
    }
}

#headhunters .position {
    color: $headhunters;
}

#headhunters + .meta-tags {
    border: 1px solid lighten($headhunters,40%);
    & .accent-color {
        color: $headhunters;
    }
}

#another-earth .position {
    color: $another-earth;
}

#another-earth + .meta-tags {
    border: 1px solid lighten($another-earth,40%);
    & .accent-color {
        color: $another-earth;
    }
}

#the-edge-of-seventeen .position {
    color: $the-edge-of-seventeen;
}

#the-edge-of-seventeen + .meta-tags {
    border: 1px solid lighten($the-edge-of-seventeen,40%);
    & .accent-color {
        color: $the-edge-of-seventeen;
    }
}

#dawn-of-the-planet-of-the-apes .position {
    color: $dawn-of-the-planet-of-the-apes;
}

#dawn-of-the-planet-of-the-apes + .meta-tags {
    border: 1px solid lighten($dawn-of-the-planet-of-the-apes,40%);
    & .accent-color {
        color: $dawn-of-the-planet-of-the-apes;
    }
}

#blue-jasmine .position {
    color: $blue-jasmine;
}

#blue-jasmine + .meta-tags {
    border: 1px solid lighten($blue-jasmine,40%);
    & .accent-color {
        color: $blue-jasmine;
    }
}

#snowpiercer .position {
    color: $snowpiercer;
}

#snowpiercer + .meta-tags {
    border: 1px solid lighten($snowpiercer,40%);
    & .accent-color {
        color: $snowpiercer;
    }
}

#hush .position {
    color: $hush;
}

#hush + .meta-tags {
    border: 1px solid lighten($hush,40%);
    & .accent-color {
        color: $hush;
    }
}

#carancho .position {
    color: $carancho;
}

#carancho + .meta-tags {
    border: 1px solid lighten($carancho,40%);
    & .accent-color {
        color: $carancho;
    }
}

#inherent-vice .position {
    color: $inherent-vice;
}

#inherent-vice + .meta-tags {
    border: 1px solid lighten($inherent-vice,40%);
    & .accent-color {
        color: $inherent-vice;
    }
}

#the-assassin .position {
    color: $the-assassin;
}

#the-assassin + .meta-tags {
    border: 1px solid lighten($the-assassin,40%);
    & .accent-color {
        color: $the-assassin;
    }
}

#julieta .position {
    color: $julieta;
}

#julieta + .meta-tags {
    border: 1px solid lighten($julieta,20%);
    & .accent-color {
        color: $julieta;
    }
}

#anna-karenina .position {
    color: $anna-karenina;
}

#anna-karenina + .meta-tags {
    border: 1px solid lighten($anna-karenina,40%);
    & .accent-color {
        color: $anna-karenina;
    }
}

#howl .position {
    color: $howl;
}

#howl + .meta-tags {
    border: 1px solid lighten($howl,40%);
    & .accent-color {
        color: $howl;
    }
}

#felony .position {
    color: $felony;
}

#felony + .meta-tags {
    border: 1px solid lighten($felony,40%);
    & .accent-color {
        color: $felony;
    }
}

#sweet-virginia .position {
    color: $sweet-virginia;
}

#sweet-virginia + .meta-tags {
    border: 1px solid lighten($sweet-virginia,40%);
    & .accent-color {
        color: $sweet-virginia;
    }
}

#dunkirk .position {
    color: $dunkirk;
}

#dunkirk + .meta-tags {
    border: 1px solid lighten($dunkirk,40%);
    & .accent-color {
        color: $dunkirk;
    }
}

#the-double .position {
    color: $the-double;
}

#the-double + .meta-tags {
    border: 1px solid lighten($the-double,40%);
    & .accent-color {
        color: $the-double;
    }
}

#a-bigger-splash .position {
    color: $a-bigger-splash;
}

#a-bigger-splash + .meta-tags {
    border: 1px solid lighten($a-bigger-splash,40%);
    & .accent-color {
        color: $a-bigger-splash;
    }
}

#monsters .position {
    color: $monsters;
}

#monsters + .meta-tags {
    border: 1px solid lighten($monsters,40%);
    & .accent-color {
        color: $monsters;
    }
}

#another-year .position {
    color: $another-year;
}

#another-year + .meta-tags {
    border: 1px solid lighten($another-year,40%);
    & .accent-color {
        color: $another-year;
    }
}

#the-great-beauty .position {
    color: $the-great-beauty;
}

#the-great-beauty + .meta-tags {
    border: 1px solid lighten($the-great-beauty,40%);
    & .accent-color {
        color: $the-great-beauty;
    }
}

#kill-list .position {
    color: $kill-list;
}

#kill-list + .meta-tags {
    border: 1px solid lighten($kill-list,40%);
    & .accent-color {
        color: $kill-list;
    }
}

#searching .position {
    color: $searching;
}

#searching + .meta-tags {
    border: 1px solid lighten($searching,20%);
    & .accent-color {
        color: $searching;
    }
}

#margaret .position {
    color: $margaret;
}

#margaret + .meta-tags {
    border: 1px solid lighten($margaret,40%);
    & .accent-color {
        color: $margaret;
    }
}

#the-post .position {
    color: $the-post;
}

#the-post + .meta-tags {
    border: 1px solid lighten($the-post,40%);
    & .accent-color {
        color: $the-post;
    }
}

#hours-127 .position {
    color: $_127-hours;
}

#hours-127 + .meta-tags {
    border: 1px solid lighten($_127-hours,20%);
    & .accent-color {
        color: $_127-hours;
    }
}

#predestination .position {
    color: $predestination;
}

#predestination + .meta-tags {
    border: 1px solid lighten($predestination,40%);
    & .accent-color {
        color: $predestination;
    }
}

#sweet-country .position {
    color: $sweet-country;
}

#sweet-country + .meta-tags {
    border: 1px solid lighten($sweet-country,40%);
    & .accent-color {
        color: $sweet-country;
    }
}

#happy-end .position {
    color: $happy-end;
}

#happy-end + .meta-tags {
    border: 1px solid lighten($happy-end,40%);
    & .accent-color {
        color: $happy-end;
    }
}

#the-revenant .position {
    color: $the-revenant;
}

#the-revenant + .meta-tags {
    border: 1px solid lighten($the-revenant,40%);
    & .accent-color {
        color: $the-revenant;
    }
}

#elle .position {
    color: $elle;
}

#elle + .meta-tags {
    border: 1px solid lighten($elle,40%);
    & .accent-color {
        color: $elle;
    }
}

#the-conjuring .position {
    color: $the-conjuring;
}

#the-conjuring + .meta-tags {
    border: 1px solid lighten($the-conjuring,40%);
    & .accent-color {
        color: $the-conjuring;
    }
}

#lawless .position {
    color: $lawless;
}

#lawless + .meta-tags {
    border: 1px solid lighten($lawless,40%);
    & .accent-color {
        color: $lawless;
    }
}

#mud .position {
    color: $mud;
}

#mud + .meta-tags {
    border: 1px solid lighten($mud,40%);
    & .accent-color {
        color: $mud;
    }
}

#the-guilty .position {
    color: $the-guilty;
}

#the-guilty + .meta-tags {
    border: 1px solid lighten($the-guilty,40%);
    & .accent-color {
        color: $the-guilty;
    }
}

#buried .position {
    color: $buried;
}

#buried + .meta-tags {
    border: 1px solid lighten($buried,40%);
    & .accent-color {
        color: $buried;
    }
}

#tully .position {
    color: $tully;
}

#tully + .meta-tags {
    border: 1px solid lighten($tully,40%);
    & .accent-color {
        color: $tully;
    }
}

#cold-in-july .position {
    color: $cold-in-july;
}

#cold-in-july + .meta-tags {
    border: 1px solid lighten($cold-in-july,40%);
    & .accent-color {
        color: $cold-in-july;
    }
}

#the-big-short .position {
    color: $the-big-short;
}

#the-big-short + .meta-tags {
    border: 1px solid lighten($the-big-short,20%);
    & .accent-color {
        color: $the-big-short;
    }
}

#four-lions .position {
    color: $four-lions;
}

#four-lions + .meta-tags {
    border: 1px solid lighten($four-lions,40%);
    & .accent-color {
        color: $four-lions;
    }
}

#inception .position {
    color: $inception;
}

#inception + .meta-tags {
    border: 1px solid lighten($inception,40%);
    & .accent-color {
        color: $inception;
    }
}

#birdman .position {
    color: $birdman;
}

#birdman + .meta-tags {
    border: 1px solid lighten($birdman,40%);
    & .accent-color {
        color: $birdman;
    }
}

#age-of-uprising .position {
    color: $age-of-uprising;
}

#age-of-uprising + .meta-tags {
    border: 1px solid lighten($age-of-uprising,20%);
    & .accent-color {
        color: $age-of-uprising;
    }
}

#blue-is-the-warmest-colour .position {
    color: $blue-is-the-warmest-colour;
}

#blue-is-the-warmest-colour + .meta-tags {
    border: 1px solid lighten($blue-is-the-warmest-colour,40%);
    & .accent-color {
        color: $blue-is-the-warmest-colour;
    }
}

#black-snow .position {
    color: $black-snow;
}

#black-snow + .meta-tags {
    border: 1px solid lighten($black-snow,40%);
    & .accent-color {
        color: $black-snow;
    }
}

#the-square .position {
    color: $the-square;
}

#the-square + .meta-tags {
    border: 1px solid lighten($the-square,40%);
    & .accent-color {
        color: $the-square;
    }
}

#much-ado-about-nothing .position {
    color: $much-ado-about-nothing;
}

#much-ado-about-nothing + .meta-tags {
    border: 1px solid lighten($much-ado-about-nothing,40%);
    & .accent-color {
        color: $much-ado-about-nothing;
    }
}

#the-past .position {
    color: $the-past;
}

#the-past + .meta-tags {
    border: 1px solid lighten($the-past,40%);
    & .accent-color {
        color: $the-past;
    }
}

#night-of-silence .position {
    color: $night-of-silence;
}

#night-of-silence + .meta-tags {
    border: 1px solid lighten($night-of-silence,40%);
    & .accent-color {
        color: $night-of-silence;
    }
}

#klown .position {
    color: $klown;
}

#klown + .meta-tags {
    border: 1px solid lighten($klown,40%);
    & .accent-color {
        color: $klown;
    }
}

#under-the-shadow .position {
    color: $under-the-shadow;
}

#under-the-shadow + .meta-tags {
    border: 1px solid lighten($under-the-shadow,40%);
    & .accent-color {
        color: $under-the-shadow;
    }
}

#archipelago .position {
    color: $archipelago;
}

#archipelago + .meta-tags {
    border: 1px solid lighten($archipelago,40%);
    & .accent-color {
        color: $archipelago;
    }
}

#the-falling .position {
    color: $the-falling;
}

#the-falling + .meta-tags {
    border: 1px solid lighten($the-falling,40%);
    & .accent-color {
        color: $the-falling;
    }
}